/* Common styles for input[type="time"] */
input[type="time"] {
  cursor: pointer;
  height: auto;
  width: auto;
  color: #323238;
  background: transparent;
}

/* Removing default time input buttons */
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Styling focus for time input fields */
input[type="time"]::-webkit-datetime-edit-hour-field:focus,
input[type="time"]::-webkit-datetime-edit-minute-field:focus,
input[type="time"]::-webkit-datetime-edit-second-field:focus,
input[type="time"]::-webkit-datetime-edit-ampm-field:focus {
  color: #0062E3;
  background: transparent;
}

/* Removing spin buttons for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
